# Python virtual environments
venv/
.env

# Byte-compiled / cache files
__pycache__/
*.py[cod]

# Distribution / packaging
build/
dist/
*.egg-info/

# IDE/editor files
.vscode/
.idea/
*.swp
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

