aiofiles==24.1.0
aiogram==3.22.0
aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiosignal==1.4.0
annotated-types==0.7.0
attrs==25.3.0
cairocffi==1.7.1
CairoSVG==2.8.2
certifi==2025.8.3
cffi==2.0.0
cssselect2==0.8.0
defusedxml==0.7.1
dotenv==0.9.9
frozenlist==1.7.0
idna==3.10
magic-filter==1.0.12
multidict==6.6.4
pillow==11.3.0
propcache==0.3.2
pycparser==2.23
pydantic==2.11.10
pydantic_core==2.33.2
pygame==2.6.1
python-dotenv==1.1.1
tinycss2==1.4.0
typing-inspection==0.4.2
typing_extensions==4.15.0
webencodings==0.5.1
yarl==1.20.1
